@model List<DoctorScheduleApp.Models.DoctorSchedule>

    <h2>Jadwal Dokter RS Kartini Bandung</h2>
    <table border="1" cellpadding="5" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Nama Dokter</th>
                <th>Spesialis</th>
                <th>Hari</th>
                <th>Jam</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var d in Model)
    {
            <tr>
                <td>@d.NamaDokter</td>
                <td>@d.Spesialis</td>
                <td>@d.Hari</td>
                <td>@d.Jam</td>
            </tr>
    }
        </tbody>
    </table>
